.footer-logo {
        margin-top: 40px;
        padding-top: 25px;
    span {
        font-family: 'Shrikhand';
        color: white;
        margin-left: 20px;
        font-size: 18px;
    }
}

.footer-text {
    ul {
                gap: 10px;
                flex-direction: column;
                display: flex;
                list-style-type: none;
                margin-left: -20px;
        li {
            a {
                display: flex;
                text-decoration: none;
                color: white;
                gap: 10px;
            }
        }
    }
}

.footer-container {
    background: #353535;
    height: 186px;
    width: 100%;
}