/* Import des fichiers Scss*/

@import "color.scss";

@import "mixin.scss";

@import "article.scss";

@import "logo.scss";

@import "card.scss";

@import "footer.scss";

* {
    font-family : 'Roboto', sans-serif;
}

body {
    margin-inline: 0;
    @include maMixin;
}

h1 {
    font-family: 'Shrikhand';
    font-weight: bolder;
    font-size: 30px;
}

h2 {
    margin-left: 35px;
}
header {
    display: flex;
    justify-content: center;
}

.bouton-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.button {
    span {
        margin-right: 45px;
    }
}

.filter-button {
    height: 72px;
    width: 85%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    place-items: center;
    gap: 200px;
    background: rgba(246, 246, 246, 1);
}

.fa-store {
    color: #9356DC;
    ;
}


